<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Yahşispor</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/spor_salonu.styles.css" asp-append-version="true" />
	<style>
		import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

		body {
			margin: 0;
			background: red;
			font-family: "Roboto",sans-serif;
			font-weight: 800;
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}

		header {
			background: #76b852; /* fallback for old browsers */
			background: rgb(141,194,111);
		}

			header::after {
				content: '';
				display: table;
				clear: both;
			}

		.logo {
			float: left;
			padding: 10px 0;
		}

		nav {
			float: right;
		}

			nav ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			nav li {
				display: inline-block;
				margin-left: 70px;
				padding-top: 23px;
				position: relative;
			}

			nav a {
				color: #444;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
			}

				nav a:hover {
					color: #000;
				}

				nav a::before {
					content: '';
					display: block;
					height: 5px;
					background-color: #444;
					position: absolute;
					top: 0;
					width: 0%;
					transition: all ease-in-out 250ms;
				}

				nav a:hover::before {
					width: 100%;
				}

		h2 {
			position: absolute;
			font-family: 'Work Sans', sans-serif;
		}

		.footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			white-space: nowrap;
			line-height: 60px;
		}
	</style>
</head>
<body>
	<header>
		<div class="container">
			<h1 class="logo"></h1>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<nav class="navbar-collapse collapse d-sm-inline-flex justify-content-between>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Hizmetlerimiz</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Log3">Giriş Yap</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Log3"></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - Yahşispor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			<a asp-area="" asp-controller="Home" asp-action="Privacy">İletişim</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
